<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023995286118-s9dm76uoiabq2ibb4u17gt3ftnt4amic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023995286118-s9dm76uoiabq2ibb4u17gt3ftnt4amic</string>
	<key>API_KEY</key>
	<string>AIzaSyBCz1-H5aegHuZG1WWIzmv6THOKV77Tr98</string>
	<key>GCM_SENDER_ID</key>
	<string>1023995286118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WeeVend.TheMove</string>
	<key>PROJECT_ID</key>
	<string>waddupdoe-45af5</string>
	<key>STORAGE_BUCKET</key>
	<string>waddupdoe-45af5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023995286118:ios:ede14c52d1b9d2896dd3a7</string>
</dict>
</plist>